.explorer-main{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #111;
}
.status-bar{
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.097);
    padding: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    background-color: #212121;
}
.navigation{
    /* border: 1px solid red; */
    width: 10%;
    padding: 0.3vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.path{
    background-color: #ebe9e920;
    width: 90%;
    padding: 0.3vw 1vw;
    border-radius: 5px;
    color: white;
}
.path h3{
    font-weight: 200;
    font-size: 0.8vw;
}
.nav{
    width: 1vw;
}
.nav svg{
    width: 100%;
    color: white;
    stroke-width: 1px;
}
.forward svg{
    color: #ebe9e920;
}
.files{
    /* border: 1px solid white; */
    width: 100%;
    display: flex;
    padding: 1vw;
    gap: 1vw;
    height: 100%;
}

.toolbar{
    border-bottom: 1px solid rgba(255, 255, 255, 0.097);
    display: flex;
    padding: 0.5vw 1.5vw;
    gap: 1.5vw;
    position: relative;
}
.tool {
    height: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3vw;
    color: white;
    padding: 0.2vw;
    border-radius: 5px;
}
.tool:hover{
    background-color: #212121;
}
.tool svg{
    height: 100%;
    /* color: white; */
}
.tool h5{
    font-weight: 200;
}
.createTools{
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    padding: 1vw 0.3vw;
    background: #000;
    z-index: 10;
    transform: translateY(100%);
}