@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.icon {
    /* background-color: aqua; */
    /* border: 1px solid white; */
    width: 55px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    mix-blend-mode: difference;
    position: relative;
    /* overflow-x:hidden; */
    border-radius: 5px;
}


.iconImage {
    height: 50px;
    width: 100%;
}

.iconImage img {
    height: 100%;
    width: 100%;
}

.iconName {
    /* border: 1px solid white; */
    width: 100%;
    text-shadow: 0px 0px 5px black;
    /* margin: auto; */
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* color: white; */
    text-align: center;
    font-size: 70%;
    /* mix-blend-mode: difference; */
    /* overflow-x: hidden; */
    /* overflow-y: visible; */
}

.fileName h4{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.iconName h4 {
    font-weight: 400;
    /* mix-blend-mode: difference; */
    color: white;
}

.icon.selected {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.icon-layer{
    width: 100%;
    height: 100%;
    /* background: aqua; */
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    overflow: hidden;
}
.icon-layer-box{
    /* border: 1px solid white; */
    background-color: cornflowerblue;
    opacity: 1;
}
