
.taskmanager-container {
  font-family: "Oswald", sans-serif;
  /* font-family: "Poppins", sans-serif; */
  /* background-color: #222; */
  mix-blend-mode: difference;
  color: white;
  /* border: 1px solid white; */
  overflow-y: scroll;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 65px;
  z-index: 101;
  padding: 20px;
  border-radius: 1.5vw;
  width: 35%;
  height: 70%;
  overflow-y: auto;
}
.data-row {
  /* font-size: ; */
  display: flex;
  /* border-bottom: 1px solid white; */
  padding: 8px 0;
}

.header {
  font-weight: bold;
  /* background-color: white; */
  border-bottom: 1px solid white;
}

.table-column {
  flex: 1;
  padding: 0 10px;
  word-break: break-word;
  /* border-left: 1px solid white ;
  border-right: 1px solid white; */
}

