@font-face {
    font-family: "boot";
    src: url(../../assets/fonts/ROUND8-FOUR.otf);
}
@font-face {
    font-family: "boot1";
    src: url(../../assets/fonts/7v88vbNPUPh3PX8XhEqCZvmuic.ttf);
}
@font-face {
    font-family: "boot2";
    src: url(../../assets/fonts/d3tHnaQIAeqiE5hGcRw4mmgWYU.ttf);
}
@font-face {
    font-family: "boot3";
    src: url(../../assets/fonts/ml8WBou3qLRVFQzTmsYLrcQlG3s.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.boot-layer{
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1000 ;
    /* opacity: 0; */
    /* background-color: #2da5e5; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.boot-layer-box{
    /* border: 1px solid white; */
    opacity: 0;
    background-color:#d07908;
}
.boot-container{
    /* opacity: 0; */
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: black;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.loading{
    /* border: 2px solid white; */
    align-items: center;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* gap: 1vw; */
    position: relative;
    /* border: 2px solid white; */
    overflow: hidden;
    color: white;
    width: fit-content;
    z-index: 999;
    font-family: "boot3";
    font-size: 2vw;
    /* letter-spacing: -5px; */
    width: 70vw;
    transform-origin: left;
    line-height: 0.8;
    height: 60px;
}
.loading >:nth-child(2){
    /* font-size: 8.7vw; */
    /* opacity: 0; */
    position: absolute;
}

.welcome span{
    opacity: 0;
}
.loading h1{
    display: flex;
}
.loading h1 span{
    display: inline-block;
}

.boot-screen-up{
    position: absolute;
    z-index: 998;
    top: 0;
    width: 100%;
    background-color: black;
    height: 100%;
}
