.taskbar{
    position: fixed;
    z-index: 100;
    bottom: 5px;
    width: fit-content;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    /* mix-blend-mode: difference; */
}

.taskbar_centre{
    background-color: rgba(255, 255, 255, 0.056);
    padding: 0.5vw 1vw;
    /* border: 1px solid rgba(255, 255, 255, 0.105); */
    backdrop-filter: blur(10px);
    min-width: 45px;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 1vw;
    height: 61.19;
    display: flex;
    position: sticky;
    will-change: width;
    /* transition: width 0.3s ease; */
    box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.41);
}

/* .taskbar_time{
    position: absolute;
    height: 100%;
    right: 0;
    width: 15vw;
} */

.icons_dock{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: all ease 0.5s;
    will-change: width;
}
.icons_dock .has-icons {
    width: auto;
    opacity: 1;
}
.start_btn{
    border-radius: 0.5vw;
    height: 40px;
    width: 45px;
    /* background-color: crimson; */
}
.taskmanager_btn {
  width: 45px;
  height: 40px;
  border-radius: 0.5vw;
}

.task_btn{
      display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  mix-blend-mode: difference;
}

.task_btn svg{
    width: 70%;
    height: 70%;
    /* color: white; */
    /* color: transparent; */
    /* mix-blend-mode: difference; */
    -webkit-text-stroke-width: 1px;
    color: white;
}