@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Oswald:wght@200..700&display=swap');


.error-page{
    background-color: rgba(255, 255, 255, 0.051);
    backdrop-filter: blur(2px);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    /* background-color: crimson; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* cursor: none; */
}
.error-box{
    overflow: hidden;
    background-color:#7C9EA8;
    /* border: 8px solid white; */
    width: 20vw;
    height: 40vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.error-name{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    background-color: white;
    color: #7C9EA8;
    width: 100%;
    height: 50%;
}
.error-box button{
    cursor: none;
}
.error-box p{
    font-size: 1.7vw;
    /* font-weight: 900; */
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color:#7C9EA8;
}
.errorImg{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    width: 100%;
    height: 50%;
}
.errorImg svg{
    height: 70%;
}
.error-name button{
    border-radius: 1vw;
    /* color: ; */
    outline: none;
    border: 1px solid #7C9EA8;
    width: 30%;
    padding: 0.7vw;
    background-color: #cbd8db;
}
.errorImg i{
    color: white;
    font-size: 7vw;
}