.editor-main{
    width: 100%;
    height: 100%;
    background-color:#111111;
}

.editor-status-bar{
    border-bottom: 1px solid rgba(255, 255, 255, 0.139);
    border-top: 1px solid rgba(255, 255, 255, 0.139);
    height: 35px;
    background-color: #2e2e2e;
    transition: all 0.5s;
}
.editor-main textarea{
    height: 100%;
    width: 100%;
    background-color:#111111 ;
    border: none;
    outline: none;
    color: white;
    padding: 1vw 0.5vw;
    font-size: 1vw;
    font-family: "poppins";
    font-weight: 200;
    transition: all 0.5s;
}
.save{
    /* border: 1px solid white; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3vw;
    width: fit-content;
    padding: 0 1vw;
}
.save:hover{
    background-color: #414040;
}
.save svg {
    height: 50%;
    color: white;
}
.save h5{
    color: white;
    font-weight: 200;
}