.popup-main{
    width: 100vw;
    height: 100vh;
    /* background: red; */
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 999;
    backdrop-filter: blur(2px);
}
.popup-layer{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    /* background-color: aqua; */
    z-index: 11;
    border-radius: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    pointer-events: none;
}
.popup-layer-box{
    /* border: 1px solid black; */
    background-color: aqua;
}
.popup-box{
    width: 20%;
    height: 20%;
    background-color: #111;
    border: 1px solid rgba(255, 255, 255, 0.145);
    box-shadow: 0px 0px 20px 1px black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
    padding: 0.3vw 0;
    border-radius: 0.3vw;
    position: relative;
}
.create-heading{
    padding: 0.2vw 0.5vw;
    border-bottom: 1px solid rgba(255, 255, 255, 0.097);
    background-color: #212121;
    position: absolute;
    top: 0;
    width: 100%;
    color: white;
    /* font-weight: 200; */
}
.create-heading h5{
    font-weight: 200;
}
.textArea{
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: center;
    /* gap: 0.5vw; */
    flex-direction: column;
    align-items: flex-start;
    /* border: 1px solid white; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.textArea input{
    padding: 0.5vw;
    background-color: #3A3A3A;
    border: none;
    outline: none;
    width: 100%;
    border-radius: 5px;
    margin: auto;
    color: white;
    cursor: none;
}

.textArea h5{
    font-weight: 200;
    color: white;
}

.pop-btns {
    /* border: 2px solid white; */
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);

}
.pop-btns button{
    flex-wrap: 1;
    width: 50%;
    padding: 0.3vw;
    border-radius: 5px;
    border: none;
    /* font-size: 0.8vw; */
    font-family: "poppins";
    cursor: none;
    font-weight: 300;
}
.cancel{
    background-color: rgb(186, 32, 32);
    color: white;
}
.submit{
    background-color: #4d4d4d;
    color: white;
}
.cancel:hover{
        background-color: rgb(218, 23, 23);

}
.submit:hover{
    background-color: #6e6c6c;
}