.start_wrap{
    width: 90%;
    height: 88%;
    position: fixed;
    z-index: 101;
    bottom: 65px;
    /* top: 65px; */
    margin: auto;
    /* left: 50%;
    transform: translateX(-50%); */
}

.container{
    width: 100%;
    height: 100%;
    border-radius: 1vw;
    background-color: black;
    /* border: 1px solid rgba(255, 255, 255, 0.173); */
    /* box-shadow: 0px 0px 40px 1px black; */
    margin: auto;
}