.container{
    width: 35%;
    height: 70%;
    /* margin: auto; */
    /* border: 2px solid white; */
    position: fixed;
    z-index: 101;
    bottom: 65px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1vw;
    /* background-color: cadetblue; */
    border: 1px solid white;
}