.start_wrap{
    width: 35%;
    height: 70%;
    position: fixed;
    z-index: 101;
    bottom: 65px;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
}

.container{
    width: 100%;
    height: 100%;
    border-radius: 1vw;
    background-color: black;
    border: 1px solid white;
    margin: auto;
}